
.container {
	margin: 0 auto;
	width: 40rem;
	font-family: helvetica, sans-serif;
}

.hidden {
	display: none;
}
.stack {
	clear: both;
	margin-top: 35%;
	text-align: center;
}

.stack-after-search {
	margin-top: 5%;
	margin-bottom: 7%;
	text-align: center;
}
.search-results {
	margin-bottom: 7%;
	text-align: center;
}

.result {
	margin: 0 auto;
	background-color: #272F32;
	margin-bottom: 5%;
	border-radius: 5px;
	padding-top: 5%;
	padding-bottom: 5%;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
#entry {
	text-align: center;
	height: 2rem;
	font-size: 20px;
	width: 600px;
}
#submit {
	margin-top: 4%;
	display: none;
}
#title {
	1.5rem
}
dt {
	color: #9DBDC6;
	margin-left: 2%;
	margin-bottom: 1%;
	font-size: .8rem;
}
dd {
	color: #DAEAEF;
	margin-bottom: 1%;
	font-size: 1rem;
	margin-right: 40px;
}
dd > a {
	color: #FF3D2E;
	text-decoration: none;
}
.question-text {
	font-size: 2rem;
}
.stack h3, .stack-after-search h3 {
	font-size: 2.5rem;
	font-weight: normal;
	color: #546E5B;
}
.stack p, .stack-after-search p {
	color: #857C6F;
}
.copy {
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
	bottom: 0;
	margin-bottom: 2rem;
	text-align: center;
}
@media screen and (max-width: 700px) {
	#submit {
		display: inline;
		height: 2rem;
		width: 7rem;
		background-color: #FF3D2E;
		color: #ffffff;
		border-radius: 7px;
	}

}